body {
  background: url("https://images.unsplash.com/photo-1535955565956-4a631184a821?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80")
    no-repeat fixed;
  background-size: cover;
  margin: 20px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {
  color: #00b7ff;
} */
.row {
  padding-left: 40px;
}
.navbar-toggler-icon {
  color: black;
}

#navbarNav {
  float: right;
}
.logButtons button:hover {
  background-color: rgb(179, 171, 171);
}

@media (max-width: 600px) {
  body {
    padding: 10px;
    /* margin-left: 1px; */
    width: 100%;
  }

  .card {
    width: 100%;
  }
}
